* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
}
.background {
  position: relative;
  background-position: bottom center;
  background-size: cover;
  z-index: -5;
}
.background::before {
  position: absolute;
  content: '';
  z-index: -4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
